.container{
    max-width: 100%;
    width: 100%;
    padding: 0px 60px;
    margin: 30px auto;
    display: block;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    background-color: aliceblue;
}