.card-account{
text-align: left;
max-width: 800px;
justify-content: center;
margin: auto;
}

.card-account-name{
    text-align: left;
    font-size: 20px !important;
}
.card-account-wallet{
    text-align: left;
    margin-top: 0px;
}

.account-wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0px 60px;
    margin: 30px auto;
    display: block;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }

  .tab-button-user{
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    width: 150px;
  }

  .tab-button-user:hover{
    background-color: gray;
    color: aliceblue;
  }

  .tabs-container{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
  }
 
  .active-tab{
    background-color: gray;
    padding: 3px 8px 3px 8px;
    background-color: none;
    cursor: pointer;
    margin: 20px 20px 20px 20px;
    border-radius: 5px;
    width: 150px;
    color: aliceblue;
  }

  .active-tab:hover{
    background-color: gray;
    color: aliceblue;
  }
 